.i{margin:0px 10px 10px 10px;}
#wrapper{
	border-style:solid;
background-color:#D0E0EB;
border-color:black;
border-width:2px;
margin: auto;

width:57%;

}
header{
	text-align:center;
	
}
header img{
	height:50px;
	width:80px;
	float:left;
	padding-left: 5px;
}
a{
text-decoration:none;

}
ul{
list-style-type:none;
text-align: left;
}
#kri{
border-style:solid;
border-color:black;
	border-color:black;	
	margin-right:30px;
	margin-left:30px;
	margin-top:20px;
	margin-bottom:20px;
	background-color:#49708A;
}
nav{
	border:solid black;	
	float:left;
	background-color:#49708A;
	padding-top:20px;
	padding-right:20px;
	padding-bottom:30px;
	padding-left:20px;
	margin-left:30px;
	line-height:35px;
	width: 100px;
	height: 311px;
}
#main{
	border: solid black;	
	height:300px;
	width:580px;
	margin-left:200px;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:auto;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:60px;
	background-color:#49708A;
	padding-left: 10px;
}
#footer{
	border-style:solid;
border-color:black;
	border-color:black;	
	margin-right:30px;
	margin-left:30px;
	margin-top:20px;
	margin-bottom:20px;
background-color:#49708A;
text-align:center;
}